.button {
	display: inline-block;
	width: 200px;
	border-radius: 6px;
	border: 1px solid #565656;
	padding: 10px 20px;
	color: #565656;
	transition: color, background-color .6s;
	cursor: pointer;
}

.button:hover {
	background-color: grey;
	color: white;
}

.button.-success {
	background-color: #23db57;
	border: none;
	color: #fff;
}

.button.-success:hover {
	background-color: salmon;
}

@media screen and ( max-width: 767px ) {

 .button {
 	align-items: center;
 	text-align: center;
 	width: 150px; 
 }

}

@media screen and ( max-width: 500px ) {

	.button {
		width: 45%;
	}

	.button.-success {
		margin-right: auto;
	}

}
